@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    background-color: #87cefacb;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

li, a, button {
    font-family: "Raleway";
    font-size: 15px;
    color: #e9eef1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 10%;
    background-color: black;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    color: white;
}

.navbar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar_links li a {
    transition: all 0.4s ease 0s;
}

.navbar_links li a:hover {
    color: #0099ff
}

button {
    margin-left: 15px;
    padding: 9px 20px;
    background-color: #0099ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

button:hover {
    background-color: #0099ff75;
}